.header {
    background-color:transparent;
    color: #ff0000;
    height: 10vh;
}

.ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
    /* color: white; */
}