.center {
    text-align: center;
    padding-top: 10vh;
    color: red;
    font-size: 2.5em;
}

.main {
    margin: auto;
    width: fit-content;
}

.white {
    color: white;
}

.dev {
    font-size: 1.5em;
}

.name {
    font-size: 1.5em;
}

.button {
    margin-top: 1em;
    padding: 5px 20px;
    font-size: 1.2em;
    background-color: black;
    border-radius: 100px;
    border: 2px solid red;
    color: white;
    /* animation: throb 1s ease-in-out infinite alternate; */
}

/* @keyframes throb {
    from {
        transform: scale(0.9);
        border: 2px solid red;
    }
    to {
        transform: scale(1);
        border: 2px solid red;
    }
} */