.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    margin: auto;
    margin-top: 2em;
    grid-gap: 2em;
}

.container ul {
    list-style-type: none;
}

.container section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: fit-content;
    position: relative;
}

.container section div{
    width: 30vw;
    height: 30vh;
    text-align: center;
    position: relative
}


/* .container section > div  {
    opacity: 0;
}

.container div:hover  {
    opacity: 1;
} */