.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: max-content;
    margin: auto;
    margin-top: 2em;
    grid-gap: 2em;
}

.container ul {
    list-style-type: none;
}

.container section {
    width: fit-content;
}

.container section div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 30vw;
    height: 30vh;
    text-align: center;
}


.container section:nth-child(1) div{
    background-image: url("../public/crypto1.png");
}
.container section:nth-child(2) div{
    background-image: url("../public/protrac1.png");
}
.container section:nth-child(3) div{
    background-image: url("../public/pokedex1.png");
}
.container section:nth-child(4) div{
    background-image: url("../public/paint1.png");
}

.container div * {
    opacity: 0;
}

.container div:hover * {
    opacity: 1;
}